
html{
  position: relative;
  min-height: 97% !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
background: url(./Components/Assets/foto1.jpg);
}

.absolute{
  position: absolute !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  margin-left: auto !important;
  margin-right: auto !important;
  display: block !important;
}

@media only screen and (max-width: 767px) {
  .video-frame {
    width: auto;
    height: auto; 
  }
}


body{
  background: url(./Components/Assets/Scenja8-.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.blu{
  color: rgb(0 19 255) !important;
}
.blusfondo{
  background-color: rgb(0 19 255) !important;
}
.rosso{
  background-color: rgb(206 34 87) !important;
}
p{
  margin: 0 !important;
}

.bb{
  width: 60% !important;
}

a{
  text-decoration: none !important;
}

.testo{
  display: flex!important;
  flex-direction: column !important;
}

input{
  box-shadow: 0 2px 2px 2px red !important;
}

.gioco{
  background-size: contain;
}

.b{
  border: 3px solid black !important;
  color: rgb(206 34 87) !important;
  font-weight:bolder;
  font-size: 1.5em;
  overflow: hidden !important
}
.update{
  background: url(./Components/Assets/Screen-1.png) !important;
  background-position-y: center !important;
  background-size: cover !important;
}

.storia{
  background: url(./Components/Assets/Scena-2.png) !important;
  background-position-y: center !important;
  background-size: cover !important;
}

.feedback{
  background: url(./Components/Assets/Screen-3.png) !important;
  background-position-y: center !important;
  background-size: cover !important;
  color:rgb(0 19 255 / 90%) !important;
}
.social{
  background: url(./Components/Assets/Screen-4.png) !important;
  background-position-y: center !important;
  background-size: cover !important;
  color:rgb(0 19 255 / 90%) !important;
}

footer {
  position: absolute !important;
  top: 100% !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
